* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.titleContainer {
    background-color: lightblue; 
    padding: 20px; 
  }
  
  .mainTitle {
    font-size: 40px;
    text-align: center;
    margin: 0; 
  }
  
.task{
    padding: 20px;
    line-height: 30px;
}
p {
    font-weight: bold;
    font-size: 20px;
}

.taskStatus{
    padding: 20px;
    color: brown;
}

.taskTitle {
    color: rgb(13, 206, 29);
}
.progressButton{
  background-color: chocolate;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: aliceblue;
  margin-left: 16px;
  border-width: 1px;
}